body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}
.calculator{
    width: 200px;
    height: 283px;
    position: relative;
    background-color: gray;
    padding: 15px;
    border-radius: 10px;
}
.display-box{
    width: 98%;
    height: 55px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 22px;
    border: 1px solid;
    border-radius: 5px;
    background-color: lavenderblush;
}
.btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40px; 
    gap: 4px;
}
button{
    height: 100%;
    border-radius: 5px;
}
.zero {
  grid-column: span 2;
}
.equal {
  grid-row: span 2;
}